 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
  --none:transparent;
  --white:#ffffff;
  --lightest:#f1f1f1;
  --lighter:#dddddd;
  --light:#aeb1b8;
  --gray-blue:#264d73;
  --gray:#505562;
  --dark-gray:#666666;
  --darker-gray:#2d2d37;
  --dark: #333333;
  --darkest: #222222;
  --green: #00b386;
  --red: #d9534f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--gray);
    color: var(--white);
}
.container{
    width: 500px;
    margin: 20px auto;
    user-select: none;
    overflow-x: hidden;
    position: relative;
    .header{
        background-color: var(--darker-gray);
        text-align: center;
        padding: 1.75rem;
        h1{
            font-style: 2.25rem;
        }
    }
    
    // ========= CURRENT DATE =========
    .date{
        background-color: var(--darkest);
        text-align: right;
        font-size: 0.75rem;
        padding: 0.75rem 2rem .75rem 0;
    }
}

// ========= SELECTED CURRENCIES =========
ul.currencies{
    height: calc(100vh - 40px - 100px - 40px - 58px);
    background-color: var(--darkest);
    padding: 0rem 1.5rem 1rem 1.5rem;
    overflow-y: auto;
    li{
        background-color: var(--darker-gray);
        border-radius: 5px;
        list-style: none;
        padding: 1rem 1rem .75rem 1rem;
        margin-bottom: 1rem;
        position: relative;
        &.base-currency{
            background-color: var(--gray-blue);
        }
        &:last-child{
            margin-bottom: 0;
        }
        img.flag{
            width:60px;
            height: auto;
            border: 1px solid var(--white);
            vertical-align: top;
        }
        .info{
            display: inline-block;
            width: 78%;
            .input span{
                font-size: 1.5rem;
                display: inline-block;
                width: 4rem;
                text-align: center;
            }
            .input input {
                font-size: 1.5rem;
                width: 78%;
                background-color: transparent;
                border: 2px solid var(--white);
                border-radius: 5px;
                color: var(--white);
                padding: 0.3rem;
                margin-bottom: 0.75rem;
            }
            .currency-name {
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
                margin-left: 4rem;
            }
            .base-currency-rate {
                font-size: 0.8rem;
                margin-left: 4rem;
            }
        }
        .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 0.5rem;
            font-size: 1.5rem;
            color: var(--dark-gray);
            cursor: pointer;
            &:hover {
                color: var(--white);
            }
        }
    }
}

// ========= ADD CURRENCY BUTTON =========
button.add-currency-btn{
    background-color: var(--green);
    color: var(--white);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-top: 3px solid var(--darkest);
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: background-color .25s;
    svg{
        position: absolute;
        /* bottom: 1rem; */
        left: 10%;
        font-size: 1.5rem;
        opacity: 0;
        transition: all 0.25s;
        height: 1.5rem;
    }
    &:hover{
        background-color: var(--red);
        svg{
            opacity: 1;
            left: 5%;
        }
        // + .add-currency-list{
        //     left: 0;
        // }
    }
    &.open{
        + ul.add-currency-list {
            left: 0;
        }
        + ul.add-currency-list li:hover {
            background-color: var(--lighter);
        }
    }
    
}

// ========= ADD CUURENCY LIST =========
ul.add-currency-list {
    position: absolute;
    bottom: 54px;
    left: 105%;
    background-color: var(--lightest);
    color: var(--dark);
    width: 100%;
    height: calc(100vh - 40px - 100px - 55px);
    overflow-y: auto;
    transition: all 0.25s;
    li {
        list-style: none;
        padding: 0.75rem;
        border-bottom: 1px solid var(--lighter);
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        img.flag {
            width: 3rem;
            height: 2rem;
            vertical-align: middle;  
        }
        span {
            margin-left: 1rem;
            font-weight: bold;
        }
    }
}


/* Scrollbar */
ul.currencies::-webkit-scrollbar {
    width: 5px;
}
ul.currencies::-webkit-scrollbar-thumb {
    background-color: var(--darker-gray);
    border-bottom: 1rem solid var(--darkest);
}

@media (max-width: 600px) {
    html { font-size: 14px; }
    .container { width: 100%; margin: 0 auto; }
    ul.currencies { height: calc(100vh - 83px - 34px - 51px); }
    .header h1 { font-size: 2rem; }
    .flag { width: 3rem; height: 2rem; }
    .info .input span { font-size: 1.25rem; width: 3.5rem; }
    .info .input input { font-size: 1.25rem; width: 76%;}
    .info .currency-name { margin-left: 3.5rem; }
    .info .base-currency-rate { margin-left: 3.5rem; }
    ul.add-currency-list { bottom: 48px; height: calc(100vh - 80px - 51px); }
    .add-currency-btn i { left: 25%; top:0.65rem; }
}